@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #e9e6f7 0%, #c5dafe 100%);
  font-family: "Inter", sans-serif;
  overscroll-behavior: contain;
}
